body {
	width: 1200px;
	margin: 100px auto;
	font: 10px sans-serif;
	opacity: 0.8;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	width: 1160px;
}

h1 {
	color: #1A202C;
}

h2 {
	color: #1F7872;
}

svg {
	background-color: #EEE;
	margin: 0px;
	margin-top: 0pt;
}

svg text {
	font-size: 12px;
	margin: 100px auto;
}

rect {
	shape-rendering: crispEdges;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: steelblue;
}

.x.axis path {
	display: none;
}

.imgClass {
	max-width: 100%;
	height: auto;
}

#logoSVG {
	margin: 0 auto;
	display: block;
}

#bullet {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: auto;
	padding-top: 0px;
	position: relative;
	width: 960px;
}

button {
	position: absolute;
	right: 10px;
	top: 10px;
}

.svgBgColor {
	margin-top: 5px;
	background-color: #eee;
}

.bullet {
	font: 10px sans-serif;
}

.bullet .marker {
	stroke: #000;
	stroke-width: 2px;
}

.bullet .tick line {
	stroke: #666;
	stroke-width: .5px;
}

.bullet .range.s0 {
	opacity: 0.2;
}

.bullet .range.s1 {
	opacity: 0.7;
}

.bullet .range.s2 {
	opacity: 1;
}

.bullet .measure.s0 {
	opacity: 0.4;
}

.bullet .measure.s1 {
	opacity: 1;
}

.bullet .title {
	font-size: 14px;
	font-weight: bold;
}

.bullet .subtitle {
	fill: #999;
}

.degree {
	font-size: 11px;
	fill: #404048;
}

#logo .tooltip {
	position: absolute;
	text-align: center;
	width: 80px;
	height: 20px;
	padding: 2px;
	font: 12px sans-serif;
	background: #bdbdbd;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
	display: inline;
}

.outerDiv {
	position: relative;
}

.alignClass {
	display: inline;
}

.headerClass {
	font-size: 15pt;
	text-align: center;
	font-weight: bold;
	color: black;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

.buttonSelected {
	background-color: #1F7872; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 5px;
}

.buttonUnselected {
	border: none;
	background-color: #AAA; /* Gray */
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 5px;
}